.sign_in_container {
  border: 2px solid black;
  margin: auto;
  margin-top: 5rem;
  width: 40%;
  padding: 10px;
  height: 40rem;
  border-radius: 20px;
  background-color: rgb(254, 254, 254);
}

.sign_in_fields {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;

  input {
    font-size: x-large;
    border-radius: 5px;
    border-style: 2px solid black;
    padding: 10px;
  }

  h1 {
    font-size: xx-large;
  }

  button {
    min-width: 300px;
  }
}

.error {
  color: red;
  font-size: large;
}
