.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.userInfo_container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  height: 35rem;
  border-radius: 10px;
  width: 52rem;

  p {
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    align-items: center;
    gap: 10px;
  
    span {
      color: grey;
      font-size: large;
    }
  }
}

.btn_container {
  margin-top: 1rem;
  gap: 20px;
  display: flex;
}


