.post {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: rgb(254, 245, 245);
  width: 40rem;
  height: 20rem;
}

.post_text {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

img {
  width: 20rem;
  object-fit: fill;
}
