.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  margin-right: 8rem;
  margin-left: 2rem;
  margin-top: 2rem;
  font-size: x-large;

  a {
    text-decoration: none;
    color: black;
  }
}
