button {
  padding: 1px;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #171717;
  border-radius: 5px;
  font-size: large;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 25rem;
  height: 4rem;
  background-color: white;
  &:hover {
    background-color: #000000;
    color: white;
  }
}
